.frontpage2-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  //grid-auto-rows: 1fr;
  gap: 0;
  //border: #c65376 dashed thick;
}

.frontpage2-cell-no-span {
  width: 100%;
  //border: #5fc653 dashed thick;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.text2 {
  padding: 10px;
}

.frontpage2-cell-span-y{
  width: 100%;
  height: 100%;
  aspect-ratio: 1 / 2;

  //border: #f1be41 dashed medium;
  grid-row: span 2;
  object-fit: fill;
  display: block;
  padding: 0;
  margin: 0;
}

.frontpage2-cell-span-x{
  aspect-ratio: 2 / 1;
  //border: #b153c6 dashed thick;
  grid-column: span 2;
  object-fit: fill;
  display: block;
  padding: 0;
  margin: 0;
}

.frontpage2-cell-span-y img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.frontpage2-cell-span-x img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
