.App {
  /*border: 5px solid green;*/
}

.App-header {
  display: flex;
  top: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  position: sticky;
  background-color: #ffffff;
  padding: 10px;
  z-index: 100;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease-in-out;
  /*border: 5px solid blue;*/

  margin-left:20%;
  margin-right:20%;

}

.App-title {
  /*border: 5px solid gray;*/
}


/* Style the main menu */
.main-menu {
  text-align: right;
  /*border: 5px solid yellow;*/
}

/* Style the menu items */
.main-menu ul {
  list-style-type: none;
}

.main-menu li {
  display: inline-block;
  margin: 0 15px;
}

.main-menu a {
  text-decoration: none;
  color: #d32f2f;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

/* Change link color on hover */
.main-menu a:hover {
  color: #ff9900;
}

.container {
  /*width: 100%;*/
  margin-left:20%;
  margin-right:20%;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border: 5px solid red;*/
}


.wf-active .site-title {
  font-style: normal;
  font-weight: 400;
}

h1 {
  font-family: "Poppins",sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  line-height: 1.25;
}

/*.grid-container {*/
/*  display: grid;*/
/*  grid-template-columns: repeat(3, 1fr);*/
/*  gap: 10px;*/
/*  padding: 20px;*/
/*}*/

/*.grid-item {*/
/*  !*background-color: #ddd;*!*/
/*  !*border: 1px solid #333;*!*/
/*  padding: 50px;*/
/*  text-align: center;*/
/*}*/

/*.grid-item.large {*/
/*  grid-column-end: span 2;*/
/*  grid-row-end: span 2;*/
/*}*/

/*.grid-item.medium {*/
/*  grid-column-end: span 2;*/
/*}*/

/*.grid-item.threewide {*/
/*  grid-column-end: span 3;*/
/*}*/


img {
  max-width: 100%;
  height: auto;
}


