$breakpoint-width-phone: 400px;
$breakpoint-width-tablet: 940px;
//$breakpoint-width-normal: 800px;


.text1 {

  font-family: "OstrichSans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  line-height: 1.25;

}

.text2 {

  font-family: "OstrichSans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  line-height: 1.25;
}
.text3 {

  font-family: "OstrichSans", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 74px;
  line-height: 1.25;
}
